* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #151515;
    color: #e6e6e6;   
    
}

header {
    background-color: #222;
    border-radius: 35px;
    position: sticky;
    top: 2.5%;
    width: 49vw; /** 45% original**/
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #4b4b4b;
    backdrop-filter: blur(7);
    font-family: Verdana;
    height: 58px;
}

a {
    color: #f46a4c;
    margin: 0.5%;
}

h1 {
    font-weight: 15;
}

h2 {
    font-size: 2.7em;
}

input {
    margin: 0.3em;
    color: white;
    background-color: #222;
    border: white;
    border-radius: 40px;
    width: 12rem;
    height: 1.5rem;
}

select {
    background-color: #222;
    color: white;
}

[type='submit'] {
    background-color: white;
    color: black;
    width: 7rem;
    height: 2.5rem;
    border: white 2px solid;
    border-radius: 40px;
}

.marginFix {
    margin-left: 2.2%;
    margin-right: 2.2%;
}

.navBarItems {
    margin-right: 15%;
    color: #e6e6e6;
    text-decoration: none;
    font-size: 16px;
    margin: 9px;
    font-size: 16px;
}

.navBarItems:hover {
    background-color: #4b4b4b;
    border-radius: 35px;
    border: 35rem;
}

.statBox {
    height: 15em;
    width: 15em;
    margin: 1.1em;
    background: linear-gradient(77deg, rgba(127,202,217,1) 0%, rgba(128,128,232,1) 14%, rgba(2,0,36,1) 100%); 
    border-color: #111, 1px, solid;
    border-radius: 35px;;
}

#aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 40vw;
}

#experiance {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

#experianceHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#skillsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#websiteTitleTop {
    font-size: 10px;
    display: flex;
    justify-content: left;
    margin-right: 17%;
    margin-left: 10px;
    
}

#navBarTop {
    font-size: 15px;
    display: flex;
    width: 3rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 17%;
    
    
}

#contactButtonTop {
    width: 6.5rem;
    height: 2.7rem;
    font-size: 16px;
    background-color: white;
    color: black;
    font: Verdana;
    border-radius: 40em;
    border: 50px;
    margin-right: 10px;
}

#contactButtonTop:hover {
    cursor: pointer;
    background-color: rgb(181, 181, 181);
}

#imageCorrect {
    height: 30em;
    width: 27em;
    border-radius: 35px;
    border: #e6e6e6 0.2em solid;
    flex-direction: row;
}


#aboutMeParagraph {
    width: 45em;
    margin-top: 1.5rem;
    margin-bottom: 0.1rem;
}

#messageContactForm {
    height: 7em;
    width: 28em;
}

#pythonStatbox {
    background: linear-gradient(77deg, rgba(255,255,255,1) 0%, rgba(232,225,128,1) 29%, rgba(93,167,242,1) 100%); 
    color: black;
    /** background-image: url('./img/python.png'); **/
}

#htmlStatbox {
    background: linear-gradient(77deg, rgba(255,255,255,1) 0%, rgba(232,197,128,1) 29%, rgba(195,98,4,1) 100%); 
    color: black;
}

#cssStatbox {
    background: linear-gradient(77deg, rgba(255,255,255,1) 0%, rgba(128,175,232,1) 29%, rgba(99,93,242,1) 100%); 
    color: black;
}

#javascriptStatbox {
    background: linear-gradient(77deg, rgba(255,255,255,1) 0%, rgba(232,185,128,1) 29%, rgba(222,242,93,1) 100%);
    color: black; 
}

#contactButton {
    width: 8rem;
    height: 3.1rem;
    font-size: 16px;
    background-color: white;
    color: black;
    font: Verdana;
    border-radius: 40em;
    border: 1px;
    margin-right: 5px;
}

#prjectsButton {
    width: 8rem;
    height: 3.1rem;
    font-size: 16px;
    background-color: #151515;
    color: white;
    font: Verdana;
    border-radius: 40em;
    margin-left: 5px;
    border: white 1px solid;
}

#aboutMeParagraphChild {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 60px;
    font-weight: 520;
}

#aboutMeParagraphChildTwo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
}

#aboutMeButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#whiteCircle {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

/* Responsive Design */

/* Phone */
@media (max-width: 600px) {
    

    #websiteTitleTop {
        font-size: 10px;
        height: 1px; /*height: 30px;*/
        width: 1px; /* width: 250px;*/
        margin: 0px 0px 0px 0px;
        visibility: hidden;
        
        
    }

    #navBarTop {
        width: 15rem;
        margin-right: 1%;
    }

    header {
        margin-left: 18%;
        width: 60vw;
    }
}